#define ZMK_POINTING_DEFAULT_MOVE_VAL 600
#define ZMK_POINTING_DEFAULT_SCRL_VAL 80
//	ESC N1 N2 N3 N4 N5 ↑ N6 N7 N8 N9 N0 BACKSPACE	0–12
//	TAB Q W E R T ↓ Y U I O P [	13–25
//	ESC A S D F G ← H J K L ; '	26–38
//	LSHIFT Z X C V B → N M , . / \	39–51
//	MUTE LCTRL LALT LCMD (MO1) LSHIFT ENTER (LT2 SPACE) ENTER (MO2) — —	52–63

#define L_MAC        0
#define L_VIM_MAC    1
#define L_SYM        2
#define L_LIN        3
#define L_VIM_LIN    4
#define L_GAME       5
#define L_ADJUST     6
#define L_NUMPAD     7

#include <input/processors.dtsi>
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/backlight.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/zmk/ext_power.h>

&mmv_input_listener { input-processors = <&zip_xy_scaler 2 1>; };
&msc_input_listener { input-processors = <&zip_scroll_scaler 2 1>; };

&msc {
    acceleration-exponent = <0>;
    time-to-max-speed-ms = <100>;
    delay-ms = <0>;
};

&mmv {
    time-to-max-speed-ms = <500>;
    acceleration-exponent = <0>;
    trigger-period-ms = <16>;
};

&soft_off {
    hold-time-ms = <2000>;
};

/ {
    behaviors {
        to_lin: to_lin {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&rgb_ug RGB_ON>, <&rgb_ug RGB_COLOR_HSB(120,55,100)>, <&to L_LIN>;
        };

        to_game: to_game {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&rgb_ug RGB_ON>, <&to L_GAME>, <&rgb_ug RGB_COLOR_HSB(150, 10, 10)>;
        };

        to_mac: to_mac {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&rgb_ug RGB_ON>, <&rgb_ug RGB_COLOR_HSB(0,0,100)>, <&to L_MAC>;
        };

        scroll_encoder: scroll_encoder {
            compatible = "zmk,behavior-sensor-rotate";
            #sensor-binding-cells = <0>;
            bindings = <&msc SCRL_DOWN>, <&msc SCRL_UP>;
            tap-ms = <100>;
        };

        // Programming macros
        arrow: arrow {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp MINUS &kp GT>;
        };

        fat_arrow: fat_arrow {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp EQUAL &kp GT>;
        };

        not_equal: not_equal {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp EXCL &kp EQUAL>;
        };

        equal_equal: equal_equal {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp EQUAL &kp EQUAL>;
        };

        greater_equal: greater_equal {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp GT &kp EQUAL>;
        };

        less_equal: less_equal {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LT &kp EQUAL>;
        };

        // Screenshot macros
        screenshot_full_mac: screenshot_full_mac {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LG(LS(N3))>;
        };

        screenshot_area_mac: screenshot_area_mac {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LG(LS(N4))>;
        };
    };

    // I/O на NAV-слоях = скриншот целиком/области, mac и linux версии.

    combos {
        compatible = "zmk,combos";
        
        // --- циклическое переключение (кнопки 7, 8, 9 на правой руке) ---
        // работает на любом из базовых слоев

        cycle_mac_to_lin { 
            timeout-ms = <150>; 
            key-positions = <9 10 11>; 
            bindings = <&to_lin>; 
            layers = <L_MAC>; 
        };

        cycle_lin_to_game { 
            timeout-ms = <150>; 
            key-positions = <9 10 11>; 
            bindings = <&to_game>; 
            layers = <L_LIN>; 
        };

        cycle_game_to_mac { 
            timeout-ms = <150>; 
            key-positions = <9 10 11>; 
            bindings = <&to_mac>; 
            layers = <L_GAME>; 
        };


        // --- ОБЩИЕ КОМБО ---
        combo_esc { timeout-ms = <50>; key-positions = <27 28>; bindings = <&kp ESC>; layers = <L_MAC L_LIN>; };
        combo_lctrl { timeout-ms = <50>; key-positions = <28 29>; bindings = <&kp LCTRL>; layers = <L_MAC L_LIN>; };
        combo_lalt { timeout-ms = <50>; key-positions = <29 30>; bindings = <&kp LEFT_ALT>; layers = <L_MAC L_LIN>; };
        combo_ralt { timeout-ms = <50>; key-positions = <34 35>; bindings = <&kp RIGHT_ALT>; layers = <L_MAC L_LIN>; };
        combo_rctrl { timeout-ms = <50>; key-positions = <35 36>; bindings = <&kp RCTRL>; layers = <L_MAC L_LIN>; };

        // --- BOOTLOADER / RESET (только на ADJ, обе пинки нижний ряд) ---
        combo_bootloader { timeout-ms = <100>; key-positions = <39 51>; bindings = <&bootloader>; layers = <L_ADJUST>; };
        combo_sys_reset  { timeout-ms = <100>; key-positions = <0 12>; bindings = <&sys_reset>; layers = <L_ADJUST>; };

    };

    keymap {
        compatible = "zmk,keymap";

        layer_mac {
            display-name = "MAC";
            bindings = <
&kp ESC      &kp N1     &kp N2        &kp N3            &kp N4      &kp N5       &kp UP_ARROW     &kp N6     &kp N7     &kp N8     &kp N9            &kp N0       &kp BACKSPACE
&kp TAB      &kp Q      &kp W         &kp E             &kp R       &kp T        &kp DOWN_ARROW   &kp Y      &kp U      &kp I      &kp O             &kp P        &kp LBKT
&kp ESC      &kp A      &kp S         &kp D             &kp F       &kp G        &kp LEFT_ARROW   &kp H      &kp J      &kp K      &kp L             &kp SEMI     &kp APOS
&kp LSHFT    &kp Z      &kp X         &kp C             &kp V       &kp B        &kp RIGHT_ARROW  &kp N      &kp M      &kp COMMA  &kp DOT           &kp SLASH    &kp BSLH
&kp C_MUTE   &kp LCTRL  &kp LALT      &kp LCMD          &mo L_VIM_MAC &kp LSHFT  &kp ENTER        &kp SPACE  &kp ENTER  &mo L_SYM  &mo L_ADJUST      &kp BSPC
            >;
            sensor-bindings = <&inc_dec_kp C_VOLUME_UP C_VOL_DN>;
        };

        layer_vim_mac {
            display-name = "N-MAC";
            bindings = <
&trans       &trans        &trans        &trans            &trans     &trans     &mmv MOVE_UP     &trans     &trans     &trans     &trans        &trans       &trans
&trans       &kp LG(UP)    &kp LA(RIGHT) &trans            &trans     &trans     &mmv MOVE_DOWN   &trans     &kp PG_UP  &screenshot_full_mac &screenshot_area_mac &trans       &trans
&trans       &kp LG(LEFT)  &trans        &kp PG_DN         &trans     &kp LG(DOWN) &mmv MOVE_LEFT &kp LEFT   &kp DOWN   &kp UP     &kp RIGHT     &kp LG(RIGHT) &trans
&trans       &trans        &kp DEL       &trans            &trans     &kp LA(LEFT) &mmv MOVE_RIGHT &trans     &trans     &trans     &trans        &trans       &trans
&trans       &trans        &trans        &trans            &trans     &mkp LCLK  &mkp RCLK        &trans     &trans     &trans     &trans        &trans
            >;
            sensor-bindings = <&scroll_encoder>;
        };

        layer_sym {
            display-name = "SYM";
            bindings = <
&kp TILDE    &kp F1     &kp F2        &kp F3            &kp F4     &kp F5     &trans           &kp F6     &kp F7     &kp F8     &kp F9            &kp F10      &kp F11
&trans       &kp EXCL   &kp AT        &kp HASH          &kp DLLR   &kp PRCNT  &trans           &kp CARET  &kp AMPS   &kp STAR   &kp LPAR          &kp RPAR     &kp F12
&trans       &arrow     &fat_arrow    &not_equal        &equal_equal &kp SEMI &trans           &kp MINUS  &kp EQUAL  &kp LBKT   &kp RBKT          &kp BSLH     &kp GRAVE
&trans       &less_equal &greater_equal &kp QMARK      &kp COMMA  &kp DOT    &trans           &kp UNDER  &kp PLUS   &kp LBRC   &kp RBRC          &kp PIPE     &kp TILDE
&trans       &trans     &trans        &trans            &trans     &trans     &trans           &trans     &trans     &trans     &trans            &trans
            >;
        };

        layer_linux {
            display-name = "LIN";
            bindings = <
&trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans
&trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans
&trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans
&trans &trans     &trans        &trans            &trans      &trans     &trans           &trans     &trans     &trans     &trans            &trans   &trans
&trans &kp LCTRL  &kp LALT      &kp LGUI          &mo L_VIM_LIN &kp LSHFT &kp ENTER       &kp SPACE  &kp ENTER  &mo L_SYM  &mo L_ADJUST      &kp BSPC
            >;
        };

        layer_vim_lin {
            display-name = "N-LIN";
            bindings = <
&trans       &trans        &trans        &trans            &trans     &trans     &mmv MOVE_UP     &trans     &trans     &trans     &trans        &trans       &trans
&trans       &kp LC(HOME)  &kp LC(RIGHT) &trans            &trans     &trans     &mmv MOVE_DOWN   &trans     &kp PG_UP  &kp PSCRN  &kp LS(PSCRN) &trans       &trans
&trans       &kp HOME      &trans        &kp PG_DN         &trans     &kp LC(END) &mmv MOVE_LEFT  &kp LEFT   &kp DOWN   &kp UP     &kp RIGHT     &kp END      &trans
&trans       &trans        &kp DEL       &trans            &trans     &kp LC(LEFT) &mmv MOVE_RIGHT &trans     &trans     &trans     &trans        &trans       &trans
&trans       &trans        &trans        &trans            &trans     &mkp LCLK  &mkp RCLK        &trans     &trans     &trans     &trans        &trans
            >;
            sensor-bindings = <&scroll_encoder>;
        };

        layer_gaming {
            display-name = "GAME";
            bindings = <
&kp ESC      &kp N1     &kp N2        &kp N3            &kp N4     &kp N5     &kp UP           &kp N6     &kp N7     &kp N8     &kp N9            &kp N0       &kp BSPC
&kp TAB      &kp Q      &kp W         &kp E             &kp R      &kp T      &kp DOWN         &kp Y      &kp U      &kp I      &kp O             &kp P        &kp LBKT
&kp LCTRL    &kp A      &kp S         &kp D             &kp F      &kp G      &kp LEFT         &kp H      &kp J      &kp K      &kp L             &kp SEMI     &kp APOS
&kp LCTRL    &kp Z      &kp X         &kp C             &kp V      &kp B      &kp RIGHT        &kp N      &kp M      &kp COMMA  &kp DOT           &kp SLASH    &kp BSLH
&kp C_MUTE   &kp LCTRL  &kp LGUI      &kp LALT          &kp SPACE  &kp LSHFT  &kp ENTER        &kp SPACE  &kp ENTER  &trans     &trans            &trans
            >;
        };

        layer_adjust {
            display-name = "ADJ";
            bindings = <
&trans       &bt BT_SEL 0    &bt BT_SEL 1    &bt BT_SEL 2    &bt BT_SEL 3    &bt BT_SEL 4    &trans           &rgb_ug RGB_EFF &rgb_ug RGB_EFR &bt BT_CLR      &bt BT_CLR_ALL  &out OUT_USB    &out OUT_BLE
&trans       &rgb_ug RGB_TOG &rgb_ug RGB_BRI &rgb_ug RGB_BRD &rgb_ug RGB_ON  &rgb_ug RGB_OFF &trans           &rgb_ug RGB_HUI &rgb_ug RGB_HUD &rgb_ug RGB_SAI &rgb_ug RGB_SAD &trans          &trans
&trans       &bl BL_TOG      &bl BL_INC      &bl BL_DEC      &bl BL_ON       &bl BL_OFF      &trans           &ext_power EP_TOG &ext_power EP_ON &ext_power EP_OFF &trans        &trans          &soft_off
&trans       &trans          &trans          &trans          &caps_word      &kp CAPS        &trans           &tog L_NUMPAD   &trans          &trans          &trans          &trans          &trans
&trans       &trans          &trans          &trans          &trans          &trans          &trans           &trans          &trans          &trans          &trans          &trans
            >;
        };

        layer_numpad {
            display-name = "NUM";
            bindings = <
&trans       &trans        &trans        &trans            &trans     &trans     &trans           &trans     &trans     &trans     &trans        &trans       &trans
&trans       &trans        &trans        &trans            &trans     &trans     &trans           &kp KP_DIVIDE &kp KP_N7 &kp KP_N8 &kp KP_N9  &kp KP_MULTIPLY &trans
&trans       &trans        &trans        &trans            &trans     &trans     &trans           &kp KP_MINUS  &kp KP_N4 &kp KP_N5 &kp KP_N6  &kp KP_PLUS     &trans
&trans       &trans        &trans        &trans            &trans     &trans     &trans           &kp KP_N1     &kp KP_N2 &kp KP_N3 &kp KP_N0  &kp KP_DOT      &kp KP_ENTER
&trans       &trans        &trans        &trans            &trans     &trans     &trans           &trans     &trans     &trans     &trans        &trans
            >;
        };
    };
};
